@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Raleway:wght@300&display=swap');

/* Header Element */

.pokemon-logo {
    height: 150px;
    display:inline-block;
    margin: 0 auto;
    border-bottom: 5px solid white;
}

header {
    width:100%;
    text-align:center;
    background-color: rgba(206,231,249,255);
    padding-bottom: 40px;
    padding-top: 40px;
}

.content {
    background-image: url("../images/8\ bit\ background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Castoro', serif;
}

/* Main Game */

#game-board {  
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 700px;
  border: 5px dotted white;
  padding-top: 50px;
  padding-bottom: 40px;
  margin: 0 auto 10px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pokeball {
  display: flex;
  margin: 4px;
  margin-bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.4s;
  position: relative;
  height: 150px;
  width: 100%;
  max-width: 150px;
}

.pokeball.flip {
  transition-duration: 876ms;
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front-face {
  transition-duration: 876ms;
  transform: rotateY(180deg);
}

.green-light {
  background-color: rgba(45, 216, 29, 0.5);
}

.red-light{
  background-color: rgba(216, 75, 75, 0.5);
}

/* New Game Buttons */

#reset {
  text-align: center;
  padding-right: 150px;
  margin-top: 25px;
}

#reset-btn {
  position: absolute;
  height: 50px;
  width: 150px;
  font-size: large;
  color: white;
  background-color: transparent;
  border: dotted white; 
}

#reset-btn:hover {
  background-color: #4a4a4a93;
  cursor:pointer;
}

/* Win/Inro Message */

#done-msg, #intro-msg {
  font-size: 20px;
  position: absolute;
  height: 245px;
  max-width: 520px;
  width: 90%;
  z-index: 10;
  background-color:rgb(252, 252, 252);
  border: solid 20px;
  border-image: url("../images/border.png") 30 round;
  padding-top: 50px;
}

#intro-msg {
  display: block;
  height: 300px;
  padding-top: 3%;
}

#done-msg {
  display: none;
  font-size: 30px;
}

#start-btn, #replay-btn {
  font-size: 18px;
}   


/* Footer */

.social-footer {
  margin-top: 100px;
  padding: 1rem;
  border-top: 5px solid white;
  border-top-width: 3px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo{
  height: 40px;
  padding: 0;
  font-size: 2rem;
  padding-left: 20px;
  filter: invert(100%);
}

.social-footer .social-footer-icons a:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 2rem;
  padding-left: 20px;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

/* Responsive Sizing For Different Devices */

@media only screen and (max-width: 730px) {

  #game-board  {
    height: 750px;
    width: 90%;
  }

  .content .pokeball {
      
      width: 90%;
  }
}

@media only screen and (max-width: 552px) {

  #game-board  {
    height: 350px;
    width: 90%;
  }
  
  .pokeball,
  .flip,
  .front-face,
  .back-face,
  .green-light,
  .red-light {
      width: 100px;
      height: 100px;
}
  .pokeball {
      width: 100px;
      max-width: 100px;
  }
}

@media only screen and (max-width: 504px) {

  #game-board  {
    height: 500px;
    width: 90%;
  }
  
  .pokeball,
  .flip,
  .front-face,
  .back-face,
  .green-light,
  .red-light { 
      width: 120px;
      height: 120px;
}
  .pokeball {
      width: 120px;
      max-width: 120px;
  }
}

@media only screen and (max-width: 449px) {

  .pokemon-logo {
      height: auto;
      max-width: 90%;;
      
  }
  
  #game-board  {
    height: 500px;
    width: 90%;
  }
  
  .pokeball,
  .flip,
  .front-face,
  .back-face,
  .green-light,
  .red-light {  
      width: 110px;
      height: 110px;
}
  .pokeball {
      width: 110px;
      max-width: 110px;
  }
}

@media only screen and (max-width: 415px) {

  #game-board  {
    height: 500px;
    width: 90%;
  }
  
  .pokeball,
  .flip,
  .front-face,
  .back-face,
  .green-light,
  .red-light {
      width: 100px;
      height: 100px;
}
  .pokeball {
      width: 100px;
      max-width: 100px;
  }
}

@media only screen and (max-width: 382px) {

  #game-board  {
    height: 500px;
    width: 90%;
  }
  
  .pokeball,
  .flip,
  .front-face,
  .back-face,
  .green-light,
  .red-light {
      width: 90px;
      height: 90px;
}
  .pokeball {
      width: 90px;
      max-width: 90px;
  }
}

@media only screen and (max-width: 349px) {

  #game-board  {
    height: 450px;
    width: 90%;
  }

  .pokeball,
  .flip,
  .front-face,
  .back-face,
  .green-light,
  .red-light {
      width: 80px;
      height: 80px;
}
  .pokeball {
      width: 80px;
      max-width: 80px;
  }
}

@media only screen and (max-width: 315px) {

  #game-board  {
    height: 300px;
    width: 90%;
  }
  
  .pokeball,
  .flip,
  .front-face,
  .back-face,
  .green-light,
  .red-light {
      width: 70px;
      height: 70px;
}
  .pokeball {
      width: 70px;
      max-width: 70px;
  }
}


@media only screen and (max-width: 298px) {

  #game-board {
      height: 300px;
      width: 90%;
    }
    
    .pokeball,
    .flip,
    .front-face,
    .back-face,
    .green-light,
    .red-light {
        width: 60px;
        height: 60px;
  }
    .pokeball {
        width: 60px;
        max-width: 60px;
    }

   .social-footer-icons,
   .logo {
       display: none;
    }
}

@media only screen and (max-width: 298px) {
    #intro-msg {
      font-size: 18px;
  }
}















