@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');


.pokemon-logo {
    height: 150px;
    display:inline-block;
    margin: 0 auto;
    border-bottom: 5px solid white;
}

header {
    width:100%;
    text-align:center;
   
    background-color: rgba(206,231,249,255);
    padding-bottom: 40px;
    padding-top: 40px;
}

.content {
    
    background-image: url("../images/8\ bit\ background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#game-content {
    
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 700px;
  border: 5px dotted white;
  padding-top: 50px;
  padding-bottom: 40px;
  margin: 0 auto 10px auto;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  text-align: center;
}

.card {
  display: flex;
  margin: 5px;
  margin-bottom: 0;
  height: 150px;
 
  width: 100%;
  max-width: 150px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}






#reset {
  text-align: center;
  padding-right: 150px;
  margin-top: 25px;
}

#reset-btn {
  position: absolute;
  height: 50px;
  width: 150px;
  font-size: large;
  color: white;
  background-color: transparent;
  border: dotted white;
  
}

#reset-btn:hover {
  background-color: #4a4a4a93;
  cursor:pointer;
}

#done-msg {
  display: none;
  font-size: 1.5rem;
  position: absolute;
  margin: auto;
  height: 250px;
  max-width: 500px;
  width: 90%;
  z-index: 10;
  background-color:rgb(252, 252, 252);
  border: solid 20px;
  border-image: url("../images/border.png") 30 round;
  padding-top: 50px;
}

#done-msg p{
  margin-bottom: 10px;    
}



















.social-footer {
    margin-top: 100px;
    padding: 1rem;
    border-top: 5px solid white;
    border-top-width: 3px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo{
    height: 40px;
    padding: 0;
    font-size: 2rem;
    padding-left: 20px;
    filter: invert(100%);
  }
  .social-footer .social-footer-icons a:last-of-type {
    margin-right: 0;
  }
  
  .social-footer .social-footer-icons .fa {
    font-size: 2rem;
    padding-left: 20px;
    color: #fefefe;
  }
  
  .social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
  }
  
