@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');


.pokemon-logo {
    height: 150px;
    display:inline-block;
    margin: 0 auto;
    border-bottom: 5px solid white;
}

header {
    width:100%;
    text-align:center;
   
    background-color: rgba(206,231,249,255);
    padding-bottom: 40px;
    padding-top: 40px;
}

.content {
    
    background-image: url("../images/8\ bit\ background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



#game-content {
    
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 700px;
  border: 5px dotted white;
  padding-top: 50px;
  padding-bottom: 40px;
  margin: 0 auto 10px auto;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  text-align: center;
}

.card {
  display: flex;
  margin: 5px;
  margin-bottom: 0;
  height: 150px;
 
  width: 100%;
  max-width: 150px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flip {
  transition-duration: 1000ms;
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front-face {
  transition-duration: 1000ms;
  transform: rotateY(180deg);
}

.green-light {
  
  background-color: rgba(45, 216, 29, 0.692);
  
}

.red-light{
  background-color: rgba(209,59,59,0.8);
}





#reset {
  text-align: center;
  padding-right: 150px;
  margin-top: 25px;
}

#reset-btn {
  position: absolute;
  height: 50px;
  width: 150px;
  font-size: large;
  color: white;
  background-color: transparent;
  border: dotted white;
  
}

#reset-btn:hover {
  background-color: #4a4a4a93;
  cursor:pointer;
}



#done-msg, #intro-msg {
  
  font-size: 1.5rem;
  position: absolute;
  margin: auto;
  height: 250px;
  max-width: 500px;
  width: 90%;
  z-index: 10;
  background-color:rgb(252, 252, 252);
  border: solid 20px;
  border-image: url("../images/border.png") 30 round;
  padding-top: 50px;
}

#intro-msg {
  display: block;
}

#done-msg {
  display: none;
}

#done-msg p{
  margin-bottom: 50px;    
}





.social-footer {
  margin-top: 100px;
  padding: 1rem;
  border-top: 5px solid white;
  border-top-width: 3px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.logo{
  height: 40px;
  padding: 0;
  font-size: 2rem;
  padding-left: 20px;
  filter: invert(100%);
}
.social-footer .social-footer-icons a:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 2rem;
  padding-left: 20px;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}



@media only screen and (max-width: 730px) {
  #game-content  {
    height: 750px;
    width: 90%;
  }

  .content .card {
      
      width: 90%;
  }
}


@media only screen and (max-width: 552px) {
  #game-content  {
    height: 350px;
    width: 90%;
  }
  
  .card,
  .flip,
  .front-face,
  .back-face,
  .green-light,
  .red-light {
     
      width: 100px;
      height: 100px;
}
  .card {
      width: 100px;
      max-width: 100px;
  }


}


@media only screen and (max-width: 504px) {
  #game-content  {
    height: 500px;
    width: 90%;
  }
  
  .card,
  .flip,
  .front-face,
  .back-face,
  .green-light,
  .red-light {
     
     
      width: 120px;
      height: 120px;
}
  .card {
      width: 120px;
      max-width: 120px;
  }


}

@media only screen and (max-width: 449px) {

  .pokemon-logo {
      height: auto;
      max-width: 90%;;
      
  }
  
  #game-content  {
    height: 500px;
    width: 90%;
  }
  
  .card,
  .flip,
  .front-face,
  .back-face,
  .green-light,
  .red-light {
     
     
      width: 110px;
      height: 110px;
}
  .card {
      width: 110px;
      max-width: 110px;
  }


}


@media only screen and (max-width: 415px) {

  
  
  #game-content  {
    height: 500px;
    width: 90%;
  }
  
  .card,
  .flip,
  .front-face,
  .back-face,
  .green-light,
  .red-light {
     
     
      width: 100px;
      height: 100px;
}
  .card {
      width: 100px;
      max-width: 100px;
  }


}


@media only screen and (max-width: 382px) {

  
  
  #game-content  {
    height: 500px;
    width: 90%;
  }
  
  .card,
  .flip,
  .front-face,
  .back-face,
  .green-light,
  .red-light {
     
     
      width: 90px;
      height: 90px;
}
  .card {
      width: 90px;
      max-width: 90px;
  }


}


@media only screen and (max-width: 349px) {

  
  
  #game-content  {
    height: 450px;
    width: 90%;
  }
  
  .card,
  .flip,
  .front-face,
  .back-face,
  .green-light,
  .red-light {
     
     
      width: 80px;
      height: 80px;
}
  .card {
      width: 80px;
      max-width: 80px;
  }


}


@media only screen and (max-width: 315px) {

  
  
  #game-content  {
    height: 300px;
    width: 90%;
  }
  
  .card,
  .flip,
  .front-face,
  .back-face,
  .green-light,
  .red-light {
     
     
      width: 70px;
      height: 70px;
}
  .card {
      width: 70px;
      max-width: 70px;
  }


}


@media only screen and (max-width: 298px) {
  #game-content  {
      height: 300px;
      width: 90%;
    }
    
    .card,
    .flip,
    .front-face,
    .back-face,
    .green-light,
    .red-light {
       
       
        width: 60px;
        height: 60px;
  }
    .card {
        width: 60px;
        max-width: 60px;
    }


   .social-footer-icons,
   .logo {
      
       display: none;
      
    }
}

















